/* Reset some basic elements */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Chivo';
}

html {
  scroll-behavior: smooth;
}

/* Basic body styles */
body {
  font-family: 'Chivo';
  line-height: 1.6;
  color: var(--text-color);
  background: linear-gradient(45deg, #568ebc 0%, #011623 100%);
  background-size: 200% 200%;
  animation: background 5s ease infinite;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Container for content */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  flex: 1;
}

header {
  background-color: var(--header-footer-color);
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 60px;
  border-bottom: #bbb 3px solid;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 20px;
}

header a:hover {
  color: var(--secondary-color);
}

/* Typography */
h1,
h2,
h3 {
  padding-bottom: 10px;
  font-weight: 600; /* More emphasis on headings */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.8;
  color: #222222;
}

/* Section Styles */
section#about,
section#portfolio,
section#resume,
section#contact {
  padding: 80px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  z-index: 1;
  margin: 50px;
  border-radius: 10px;
  text-align: left;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('section-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about {
  display: flex;
  gap: 100px;
}

.about-photo {
  max-width: 300px; /* Maximum width */
  width: 100%; /* Make it responsive */
  height: 300px; /* Maintain aspect ratio */
  border-radius: 48%;
}

#resume img {
  width: 30%;
  height: auto;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.resume-contact {
  display: flex;
}

#resume {
  flex-grow: 1;
}

#contact {
  flex-grow: 1;
}

.contact-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2em;
}

.resume-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 1.2em;
}

#resume p {
  margin-top: 10px;
}

section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

section h2::after {
  content: '';
  position: absolute;
  top: 45%;
  width: 200px;
  height: 3px;
  background: var(--primary-color);
  transform: translateY(-50%);
  right: -210px;
}

section#resume h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 200px;
  height: 2px;
  background: var(--primary-color);
  transform: translateX(-120%) translateY(-50%);
}

section#resume h2::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 200px;
  height: 2px;
  background: var(--primary-color);
  transform: translateX(120%) translateY(-50%);
}

section#contact h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100px;
  height: 2px;
  background: var(--primary-color);
  transform: translateX(-120%) translateY(-50%);
}

section#contact h2::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 100px;
  height: 2px;
  background: var(--primary-color);
  transform: translateX(120%) translateY(-50%);
}

#contact a {
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

#contact a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: var(--header-footer-color);
  bottom: 0;
  position: static;
  width: 100%;
  height: 60px;
}

footer p {
  color: rgb(158, 157, 157);
}

/* Media Queries */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }

  header nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  header nav ul li {
    margin: 10px 0;
  }

  header nav a {
    font-size: 0.9em;
  }

  section h2::before,
  section h2::after {
    display: none; /* Hide lines on smaller screens */
  }
}

:root {
  --primary-color: #39829e;
  --secondary-color: #ff6f61;
  --text-color: #333;
  --background-color: #f4f4f4;
  --header-footer-color: #000000;
}
